bordercol = rgba(0, 0, 0, 0.2)
meh4hei = 25px
meh1hei = 50px
size = 250px
body
    background #444
    section#app
        overflow-y hidden
        overflow-x auto
        box-shadow 0 0 35px rgba(0, 0, 0, 0.4)
        perspective 600px
        .box
            width size
            height size
            float left
            margin 0
            padding 0
            overflow hidden
            border-right solid 1px bordercol
            border-bottom solid 1px bordercol
            position relative
            font-family Roboto, inherit
            perspective 600px
            position relative
            h1, h4
                font-weight 100
                position absolute
                bottom meh4hei + 1
                left 0
                right 0
                height meh1hei
                text-indent 20px
                padding 0
                margin 0
                line-height meh1hei
                font-size 18pt
                text-shadow 0 -1px 1px rgba(0, 0, 0, 0.8)
                color white
                font-weight light
                background linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 100%) 
                transition all 0.5s ease-in-out
                opacity 0
            h1
                transform rotateY(90deg) rotateX(90deg) translateX(-50%)
                transform-origin left center
            h4
                transform rotateY(-90deg) rotateX(-90deg) translateX(50%)
                transform-origin right center
            &:hover 
                h1, h4
                    transform none
                    opacity 1
                &:after
                    box-shadow 0 -50px 50px rgba(0, 0, 0, 0.2) inset
            h4
                bottom 0
                height meh4hei
                line-height meh4hei
                font-size 10pt
            > img
                position absolute
                z-index 0
                width 100%
                height 100%
                left 0
                top 0
            &:after
                display block
                z-index 0
                content ''
                position absolute
                left 0
                top 0
                width 100%
                height 100%
                transition all 0.5s ease-in-out